.box{
	width: auto;
	height: auto;
	background-color: rgb(50, 10, 194);
}

.box h1{
	color: rgb(234, 250, 5);
	font-size: 50px;
}

.box1{
	height: 50px;
	background-color: rgb(84, 12, 219);
}

.box2{
	height: 50px;
	background-color: rgb(248, 94, 5);
}

.box3{
	height: 40px;
	background-color: rgb(255, 0, 149);
}